.skillsBox{
    width: 960px;
    height: 450px;
    margin-top: 60px;
}

.skillsContainer{
    display: flex;
    justify-content: space-between;
}

.profSkills{
    width: 38%;
    height: 330px;

}
.additSkills{
    width: 58%;
    height: 330px;

}