.educationBox{
    width: 960px;
    margin-top: 60px;
    
}
.educationContainer{
    display: grid;
    width: 960px;
    grid-template-columns: 273px 273px 273px;
    justify-content: space-between;
    
    
}

.educationBlock{
    width: 273px;
    height: 273px;
    margin: 0 auto;
}