.wraper {
  text-align: center;
  background-color: rgb(196, 196, 196);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 80px;
}
.blockStyle{
  background-color: #ffffff;
  box-shadow: 1px 1px 9px #535353;
  border-radius: 3px;
}

.title_level_2{
  font-family: 'Muli', sans-serif;
  font-size: 47px;
  color: #2528c0;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.text_color{
  color: blue;
  
}
